{% extends 'base.html.twig' %}

{% block title %}Liste des types{% endblock %}

{% block body %}
    <h1>Liste des {{ resource }}</h1>

    <ul>
    {% for type in type %}
        <li><a href="{{ path('type_show', { id: type.id }) }}">{{ type.type }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}

