{% extends 'base.html.twig' %}

{% block title %}Page d'Accueil{% endblock %}

{% block body %}
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal">Projet Réservations</h5>
    <form class="form-inline mt-2 mt-md-0" style="
  margin-right:  30px;
">
          <input class="form-control mr-sm-2" type="text" placeholder="Rechercher" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">🔍</button>
        </form>
    <a class="btn btn-outline-primary" href="#" style="
  margin-right:  10px;
  background-color:  lightgreen;
  border-color: green;
  color:  darkgreen;
">Se connecter</a>
  <a class="btn btn-outline-primary" href="#">S'inscrire</a>
  </div>


<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

  <div class="container">    
      <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
          <div class="panel panel-info" >
                  <div class="panel-heading">
                      <div class="panel-title">Connexion</div>
                      <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#">Récupérer votre mot de passe?</a></div>
                  </div>     

                  <div style="padding-top:30px" class="panel-body" >

                      <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
                          
                      <form id="loginform" class="form-horizontal" role="form">
                                  
                          <div style="margin-bottom: 25px" class="input-group">
                                      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                      <input id="login-username" type="text" class="form-control" name="username" value="" placeholder="login ou email">                                        
                                  </div>
                              
                          <div style="margin-bottom: 25px" class="input-group">
                                      <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                      <input id="login-password" type="password" class="form-control" name="password" placeholder="mot de passe">
                                  </div>
                                  

                              
                          <div class="input-group">
                                    <div class="checkbox">
                                      <label>
                                        <input id="login-remember" type="checkbox" name="remember" value="1"> Retenir mon login
                                      </label>
                                    </div>
                                  </div>


                              <div style="margin-top:10px" class="form-group">
                                  <!-- Button -->

                                  <div class="col-sm-12 controls">
                                    <a id="btn-login" href="#" class="btn btn-success">Se connecter  </a>

                                  </div>
                              </div>


                              <div class="form-group">
                                  <div class="col-md-12 control">
                                      <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                                          Vous n'avez pas de compte? 
                                      <a href="#" onClick="$('#loginbox').hide(); $('#signupbox').show()">
                                          Inscrivez-vous ici
                                      </a>
                                      </div>
                                  </div>
                              </div>    
                          </form>     



                      </div>                     
                  </div>  
      </div>
      <div id="signupbox" style="display:none; margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                  <div class="panel panel-info">
                      <div class="panel-heading">
                          <div class="panel-title">Inscription</div>
                          <div style="float:right; font-size: 85%; position: relative; top:-10px"><a id="signinlink" href="#" onclick="$('#signupbox').hide(); $('#loginbox').show()">Se connecter</a></div>
                      </div>  
                      <div class="panel-body" >
                          <form id="signupform" class="form-horizontal" role="form">
                              
                              <div id="signupalert" style="display:none" class="alert alert-danger">
                                  <p>Error:</p>
                                  <span></span>
                              </div>
                              
                              <div class="form-group">
                                  <label for="email" class="col-md-3 control-label">Email</label>
                                  <div class="col-md-9">
                                      <input type="text" class="form-control" name="email" placeholder="Email">
                                  </div>
                              </div>
                                  
                              <div class="form-group">
                                  <label for="firstname" class="col-md-3 control-label">Prénom</label>
                                  <div class="col-md-9">
                                      <input type="text" class="form-control" name="firstname" placeholder="Prénom">
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label for="lastname" class="col-md-3 control-label">Nom</label>
                                  <div class="col-md-9">
                                      <input type="text" class="form-control" name="lastname" placeholder="Nom">
                                  </div>
                              </div>
                              
                              <div class="form-group">
                                  <label for="email" class="col-md-3 control-label">Login</label>
                                  <div class="col-md-9">
                                      <input type="text" class="form-control" name="login" placeholder="Login">
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label for="password" class="col-md-3 control-label">Mot de passe</label>
                                  <div class="col-md-9">
                                      <input type="password" class="form-control" name="passwd" placeholder="Mot de passe">
                                  </div>
                              </div>
                                  
                              <div class="form-group">
                                  <label for="password" class="col-md-3 control-label">Confirmer</label>
                                  <div class="col-md-9">
                                      <input type="password" class="form-control" name="passwd-conf" placeholder="Confirmer le mot de passe">
                                  </div>
                              </div>
                              
                              <div class="form-group">
                                  <label for="icode" class="col-md-3 control-label">Langue</label>
                                  <div class="col-md-9">
                                      <select class="form-control" name="langage">
                                          <option value="fr">Français</option>
                                          <option value="nl">Néerlandais</option>
                                          <option value="en">Anglais</option>
                                      </select>
                                  </div>
                              </div>

                              <div class="form-group">
                                  <!-- Button -->                                        
                                  <div class="col-md-offset-3 col-md-9">
                                      <button id="btn-signup" type="button" class="btn btn-info"><i class="icon-hand-right"></i> &nbsp S'inscrire</button>
                                  </div>
                              </div>
                              
                              
                              
                          </form>
                       </div>
                  </div>

             
             
              
       </div> 
  </div>

{% endblock %}
