{% extends 'base.html.twig' %}

{% block title %}Liste des types{% endblock %}

{% block body %}
    <h1>Localités {{ resource }}</h1>

    <ul>
    {% for locality in locality %}
        <li><a href="{{ path('locality_show', { id: locality.id }) }}">{{locality.postalcode}} {{ locality.locality}} </a></li>
    {% endfor %}
    </ul>
{% endblock %}
