header a#login {
    margin-right: 10px;
    background-color: lightgreen;
    border-color: green;
    color: darkgreen;
}

header form#frmSearch {
    margin-right: 30px;
}

footer {
    border-top: 1px solid #dee2e6!important;
    padding: 0 15px;
    text-align: center;
}
