{% for label, messages in app.flashes %}
    {% for message in messages %}

        {% if app.user and app.user.isverified == false %}
        <div class="alert alert-{{label}} alert-dismissible " role="alert" style="font-size: 1rem" >
            <div class="d-flex justify-content-between">
                <div class="alert-message">
                    {{message|raw}}
                </div>
                <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">x</button>
            </div>
        </div>
    {% endif %}     
        
    {% endfor %}
    
{% endfor %}