<nav
  class="navbar navbar-dark bg-dark sidebar navbar-expand-md"
  role="navigation"
>
  <!-- Brand and toggle get grouped for better mobile display -->
  <button
    type="button"
    class="navbar-toggler"
    data-toggle="collapse"
    data-target="#bs-sidebar-navbar-collapse-1"
  >
    <span class="sr-only">Toggle navigation</span>
    &#x2630;
  </button>
  <!-- Collect the nav links, forms, and other content for toggling -->

  <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li class="active nav-item">
        <a href="#" class="nav-link"
          >Accueil<span
            style="font-size: 16px"
            class="float-right hidden-xsd-none d-sm-block showopacity fa fa-home"
          ></span
        ></a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link"
          >Prochains spectacles<span
            style="font-size: 16px"
            class="float-right hidden-xsd-none d-sm-block showopacity fa fa-th-list"
          ></span
        ></a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link"
          >Administration<span
            style="font-size: 16px"
            class="float-right hidden-xsd-none d-sm-block showopacity fa fa-lock"
          ></span
        ></a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link"
          >Contact<span
            style="font-size: 16px"
            class="float-right hidden-xsd-none d-sm-block showopacity fa fa-copyright"
          ></span
        ></a>
      </li>
    </ul>
  </div>

  
  
</nav>
