{% extends 'base.html.twig' %}

{% block title %}Créer un artiste{% endblock %}

{% block body %}
    <h2>Créer un artiste</h2>

    {{ include('artist/_form.html.twig', {'http_method': 'POST','button_label': 'Ajouter'}) }}

    <nav><a href="{{ path('artist_index') }}">Retour à l'index</a></nav>
{% endblock %}
