{% extends 'base.html.twig' %}

{% block title %}Fiche d'un artiste{% endblock %}

{% block body %}
    <h1>{{ artist.firstname }} {{ artist.lastname }}</h1>
   <nav><a href="{{ path('artist_index') }}">Retour à l'index</a></nav>
{% endblock %}

