{% extends 'base.html.twig' %}

{% block title %}Fiche d'un Role{% endblock %}

{% block body %}
    <h1>{{ role.role|capitalize }}</h1>
    <nav><a href="{{ path('role_index') }}">Retour à l'index</a></nav>
{% endblock %}
